page-standard-property {


        .selected{
          background-color: #ececec !important;
          ion-label{
            color:#000;
          } 
        }
        .card { 
          margin: 0;
          width: 100%;
          .item {
            background-color: #f6f4f5;
            border: medium none !important;
            .label{
              white-space: normal;
              padding-right: 30px;
            }
            .item-inner {
              display: inline-block;
              right: 0;
              flex: 0;
              position: absolute;
              ion-icon {
                margin: 8px 0 0 !important;
              }
            }
          }
        }
        .button {
          background-color: #ed6d00;
          font-size: 1.4rem;
          font-weight: 600;
          height: 3em;
          line-height: 3em;
          margin: 1em 0;
          text-transform: uppercase;
          width: 100%;
      }
    

    
}
