page-schedule-calendar {
 .tech-calender {
        // padding: 0 15px;
    
        .calender-card {
            background-color: #f6f4f5;
            border-radius: 4px;
            margin: 15px auto;
            max-width: 300px;
            padding: 10px;
                .title {
                    color: #000;
                    font-size: 1em;
                    font-weight: 600;
                    letter-spacing: 1px;
                    margin-bottom: 5px; 
                    text-align: center;
                }
                .swiper-slide{
                    font-size: 15px;
                    table{
                        border: none!important;
                    }
                    td, th {
                        border: medium none !important;
                        border-radius: 50%;
                        height: 38px;
                        padding:8px 0 !important;
                        text-transform: uppercase;
                        width: 38px;
                    }
                    // is selected
                    .monthview-selected[_ngcontent-c1] {
                        background-color: #2a272e; 
                    }
                }
             // events
             .event-detail-container {
                 display: none;
                border-radius: 4px;
                border-top: 0 none !important;
                box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.25);
                margin: 15px 0 5px;
                overflow: hidden;
            }
        }

        // card booking
        .input-wrapper .label{
            margin:0 8px 0 0 !important;
        }
       .calender-booking{
            @at-root .item-inner {
                border-bottom: none !important;
            }
            @at-root .card{
                width: calc(100% - 20px);
                background-color: #f6f5f5;
                margin-left: 10px;
            }
            .card {
                //~ border-bottom: 1px solid #dcdcdc;
                margin: 0;
                padding: 10px;
                background-color: #f6f5f5;
                .card-decription {
                    color: #ef7e1e;
                }
            }
       }
        
     

    }

    // calender notification
    .monthview-primary-with-event[_ngcontent-c1] {
        background-color: transparent;
        color: #000;
        position: relative;
        &.monthview-primary-with-event[_ngcontent-c1]:after {
            height: 4px;
            width: 4px;
            content: "";
            position: absolute;
            margin-left: -3px;
            background-color: #ed6d00;
            bottom: 6px;
            border-radius: 50%;
            left: 50%;
        }
        &.monthview-selected[_ngcontent-c1]{
            color:#fff;
        }
    } 
    
}


