page-edit-account {
 .list .item {
        padding:0;
        .item-inner {
            padding-right: 0 !important;
            .label {
                margin: 0;
            }
            .card {
                background-color: #f6f4f5;
                margin: 0 0 7px;
                width: 100%;
                .card-header {
                    color: #ec6100;
                    padding: 10px 16px 0 !important;
                } 
            }
        }
    }
  // input
  
 form {
        .list{
            margin: 0;
        }
        .card .row {
            clear: both;
            display: block;
            .col {
                width: 100%; 
                &.col:first-child {
                    font-weight: 800;
                }
                .item{
                    background-color: transparent;
                    border-radius: 3px;
                    box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.1) !important; 
                    margin-top: 5px;
                    min-height: inherit;
                    border:none !important;
                }
                .text-input, .select{
                    border: 1px solid #a1a1a1;
                    background-color: #fff;
                    border-radius: 3px;
                    max-width: 100%;
                    padding: 10px;
                    width: 100%;
                    margin: 0;
                }
                .select {
                    .select-icon-inner {
                        color: #000 !important;
                        left: 0 !important;
                    }
                }
    } 
 }
}
button[ng-reflect-color="primary"] {
    background-color: #ed6d00;
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    height: 4.5rem;
    margin: 10px 0 20px;
    text-transform: uppercase;
    width: 100%;
}
    .list-md .item-input.ng-valid.item-input-has-value:last-child:not(.input-has-focus):not(.item-input-has-focus), 
    .list-md .item-input.ng-valid.input-has-value:last-child:not(.input-has-focus):not(.item-input-has-focus) {
        border-bottom-color: transparent !important;
        box-shadow: none;
    }
    .paymentcard {
        display: block;
        float: left;
        margin: 10px 0;
        width: 100%;
        > span {
            float: left;
            padding-right: 10px;
            width: 25%;
        } 
    }
    [ng-reflect-name="cardexpmonth"] {
        margin-right: 5px !important;
    }
    [ng-reflect-name="cardexpyear"] {
        margin-left: 5px !important;
    }

    .inputvalidation {
        margin-bottom: 15px;
        padding:0;
        position: relative;
            .icon {
                position: absolute;
                top: 15px;
                left: 10px;
                z-index: 9;
            }
          .item-block { 
        
            .item-inner {
                border: medium none;
            }
            & + p {
                background-color: #ed6e00;
                border-radius: 3px;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
                color:#fff;
                margin: 0;
                padding: 2px 5px; 
                position: absolute;
                top: 100%;
                z-index: 9; 
                animation-name:zoomIn; 
                animation-duration:250ms; 
                &:after{
                    border-color: transparent transparent #ed6e00;
                    border-style: solid;
                    border-width: 0 5px 8px;
                    content: "";
                    left: 10px;
                    position: absolute;
                    top: -8px;
                }
            }  
        } 
    }
    .checkbox{
        display: inline-block;
    float: left;
    margin-right: 15px;
    position: relative;
    top: 16px;
    }
    p{
        line-height: 22px;
    }
}

