page-change-password {
    ion-list[inset] {
        margin: 0 !important;
        overflow: visible;
    }
    .inputvalidation {
        margin-bottom: 15px; 
        padding:0;
        position: relative;
            .icon {
                position: absolute;
                top: 15px;
                left: 10px;
                z-index: 9;
          }
          .item-block { 
            border: medium none !important;
            border-radius: 3px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
            min-height: 40px;
            padding-left: 30px !important;
            .item-inner {
                border: medium none !important;
                box-shadow: none !important
            }
            & + p {
                background-color: #ed6e00;
                border-radius: 3px;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
                color:#fff;
                margin: 0;
                padding: 2px 5px; 
                position: absolute;
                top: 100%;
                z-index: 9; 
                animation-name:zoomIn; 
                animation-duration:250ms; 
                &:after{
                    border-color: transparent transparent #ed6e00;
                    border-style: solid;
                    border-width: 0 5px 8px;
                    content: "";
                    left: 10px;
                    position: absolute;
                    top: -8px;
                }
            } 
        } 
    }
    .login-button {
        background-color: #ed6d00;
        height: 3em;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 500;
    }

}
