page-my-account {
    .toolbar-background {
        background: none;
        border:none !important;
        box-shadow: none;
    }
     // fixed header 
    .header .toolbar {
        min-height: inherit !important;
        // padding: 56.25% 0 0 !important;
        @media screen and (orientation: landscape) {
            padding: 28.125% 0 0 !important;
          }
          
          @media screen and (orientation: portrait) {
            padding: 56.25% 0 0 !important;
          }
    }
    .content .fixed-content {
       // margin-top: 56.25% !important;
       @media screen and (orientation: landscape) {
        margin-top: 28.125% !important;
      } 
      @media screen and (orientation: portrait) {
        margin-top: 56.25% !important;
      }
    }
    .scroll-content{
        @media screen and (orientation: landscape) {
            margin-top: 28.125% !important;
          } 
          @media screen and (orientation: portrait) {
            margin-top: 56.25% !important;
          }
    }
    .parallax-header {
        display: none;
    }
    .back-button, .bar-buttons {
        position: absolute;
        top: 20px;
        z-index: 9;  
    }
    .back-button-md, .bar-buttons-md {
        top: 15px;
    }
    //top
    .herder-image {
        background-image: url("../assets/imgs/list-page-bg.png");
        background-position: center bottom;
        background-size: cover;
        height: 100%;
        left: 0;
        padding: 4rem 4rem 0;
        position: absolute;
        top: 0;
        width: 100%; 
        .profile-image-show {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        .newpic {
            margin: auto;
            position: relative;
            width: 82px;
            #profile-image {
                background-color: #eb6000;
                border: 2px solid #fff;
                border-radius: 50%;
                height: 82px;
                object-fit: cover;
                padding: 2px;
                width: 82px;
            }
            .upload-image {
                background-color: #fff;  
                border-radius: 50%;
                bottom: 0;
                color: #ed6e00;
                height: 30px;
                position: absolute;
                right: -10px;
                text-align: center;
                width: 30px;
                &:before {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &.after-save {
                    font-size: 1.1rem;
                    font-weight: 600;
                    padding-top: 8px;
                }
                
            }
        }
        #profile-name{
            text-transform: capitalize;
            font-size: 1.75rem;
        }
        #profile-name, .profile-email {
            color: #fff;
            line-height: 1.1;
            margin: 6px 0;
            text-align: center;
        }     
    } 

    //content 
    .list{
        margin: 0px 0 16px;
        .item {
            padding: 0 5px;
            .item-inner {
                padding-right: 0 !important;
                .label {
                    margin: 0;
                }
                .card {
                    background-color: #f6f4f5;
                    margin: 10px;
                    width: calc(100% - 20px);
                    .card-header {
                        color: #ec6100;
                        padding: 10px 16px 0 !important;
                        text-align: left;
                        .icon{
                            text-align: center;
                        }
                    }  
                    .col{
                        white-space: normal;
                    }
                    .upgrade-package {
                        background-color: #2b2b2b;
                        color: #fff;
                        padding: 10px 15px;
                        border-radius: 4px;
                        margin: 5px 0 0px;
                        text-transform: capitalize;
                    }
                    .currentPkg ion-icon {
                        color: #ec6100;
                        float: right;
                    }
                }
            }
        }
    }

    // btn
    .button {
        display: block;
        font-size: 1.4rem;
        height: 4.5rem;
        margin: auto auto 15px;
        width: calc(100% - 30px);
        text-transform: uppercase;
        font-weight: 600;
        &[ng-reflect-color="primary"] {
            background-color: #ed6d00;
        }
        &[ng-reflect-color="light"] {
            background-color: #fff;
            border: 1px solid #ed6d00;
        }
        &:hover{
            background-color:#ea5800;
            color: #fff;
        }
    }
    .paymentcard {
        display: block;
        width: 100%;
        span {
            float: left;
            max-width: 80px;
            padding: 5px;
            width: 25%;
        } 
    }
    span.currentPkgPlan {
       text-transform: capitalize;
    }

}
